.message-board {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 90vw;
  height: 70vh;
}

#message-board-box {
  overflow-y: scroll;
}
