#send-message-button {
  height: 75px;
  font-size: large;
  margin: -3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#outlined-basic {
  width: 81vw;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add-message-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-message-component {
  margin-top: 20px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
}
