.send-message-button {
  height: 74px;
  font-size: large;
}

.add-message-text-field {
  width: 83vw;
}

.add-message-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-message-component {
  margin: 20px 60px 20px 60px;
}
