#send-message-button {
  height: 75px;
  font-size: large;
  margin: -3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#outlined-basic {
  width: 83vw;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add-message-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-message-component {
  margin: 20px 60px 20px 60px;
}
